/* Task 3 */

/* Fonts Import  */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@400;500;600;700;800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* ================================== */

* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    background-color: #FBFBFB;
}

body,
button,
input {
    font-family: 'Montserrat', sans-serif !important;
}
/* shadow  */
.shadow-md {
    box-shadow: 0px 0px 10px rgba(1, 1, 136, 0.143); /* Light blue shadow */
  }
.shadow {
    box-shadow: 0px 0px 12px -1px rgba(3, 17, 105, 0.5);
    -webkit-box-shadow: 0px 0px 12px -1px rgba(3, 17, 105, 0.5);
    -moz-box-shadow: 0px 0px 12px -1px rgba(3, 17, 105, 0.5);
}

.shadow2{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.header{
    background-color:  rgb(1, 1, 23);
    padding: 5px 10px;
    height: 50px;
    display: flex;
  align-items: center;

}

.h-img > img{
  height: 30px;
  width: auto;
  margin-top: 3px;
  border-radius: 1px;
}
.instructions{
  margin-top: 10px;
  max-width: 100%;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  word-spacing: 4px;
  border-radius: 4px;
}
.shadow3{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


.main-section{
 margin: 20px 0px 0px 0px;
 display: flex;
 flex-direction: column;
 align-items: center !important;

 gap: 20px;
}
.input-container {
    position: relative;
    width: 80%;
  }
  
  .input-field {
    width: 100%;
    padding: 10px 10px 10px 26px;
    background-color: white;
    border: 2px solid #383838;
    border-radius: 4px;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    transition: border-color 0.3s ease;
  }
  
  .input-field:focus {
    border-color: #080b47;
  }
  
  .input-label {
    position: absolute;
    top: 10px;
    left: 20px;
    font-weight: 500;
    color: #000000;
    transition: top 0.3s, font-size 0.3s, color 0.3s;
    pointer-events: none;
    font-size: 13.5px;
  }
  
  .input-field:focus + .input-label,
  .input-field:not(:placeholder-shown) + .input-label {
    top: -7px;
    left: 20px;
    font-weight: 500;
    font-size: 12px;
    background-color: #FFFFFF;
    padding: 1px 7px;
    color: #000000;
  }
  .btn-section{
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .add-btn{
    background-color: #210067;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    font-size: 13px;
    font-weight: 600;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}
.next-btn{
  background-color: #210067;
  color: white;
  padding: 8px 30px;
  margin-top: 10px;
  border: none;
  font-size: 13px;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.next-btn5{
  background-color: #110045;
  color: white;
  padding: 8px 30px;
  margin-top: 12px;
  border: none;
  font-size: 11px;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
/* ============================= */

.collapse-section{
  display: flex;
  gap: 25px;
 margin-top: 18px;
  width: 100%;
  justify-content: center;
  align-items: center;

}
.sub-c{
  border-radius: 1px;
  width: 40%;
  padding: 10px 5px;
  background-color: #001a3f;
  font-size: 13px !important;
  text-align: center;
  font-weight: 600; 
  color: white;
}

#createListSection{
  /* display: none; */
  width: 100%;
}
.createList-section{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.createList{
  background-color: rgb(1, 1, 48);
  width: 95%;
  color: white;
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  padding: 7px 15px;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.Work-field{
  position: relative;
  display: inline-block;
  
  width: 80%;
}

.Work-field select{
  
  border: none;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 9px 0px 9px 17px;
  /* for Removing default styles */
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
}
.Work-field::after {
  content: "\25BC"; /* Unicode for down arrow */
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #021743;
}
#Work-field:focus{
  
  outline: none !important;
}
#field:focus{
  outline: none !important;
}
#product-list:focus{
  outline: none !important;
}

.Work-field select>option{
  background-color: #13003c;
}

#Work-field option {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
}
#field option {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
}
#product-list option {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
}

.addProductSection{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.displayList{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.list-table{
  width: 96%;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  padding: 15px 5px;
  border-radius: 3px;
}
.table-head{
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.th-div{
  padding: 5px 0px;
  border: 1px solid black;
  
}
#th-div1{
width: 11%;

}
#th-div2{
  width: 57%;
  border-right: none;
  border-left: none;
}
#th-div3{
  width: 16%;
  border-right: none;
}
#th-div4{
  width: 15%;
}
.th-title{
  font-size: 11px;
  text-align: center;
  font-weight: 600;
}
.td-div1{
  width: 11%;
  padding: 5px 0px;
  border-top: none;
border-right: 1px solid black;
border-left: 1px solid black;
border-bottom: 1px solid black;

  
}
.td-div2{
  width: 57%;

  border-top: none;
  padding: 5px 0px;
  
  border-bottom: 1px solid black;
 
}
.td-div3{
  width: 16%;
  border-right: none;
  border-top: none;
  border-left: 1px solid black;
  padding: 5px 0px;
  border-bottom: 1px solid black;

}
.td-div4{
  width: 15%;
  padding: 5px 0px;
  border-top: none;
  border-right: 1px solid black;
border-left: 1px solid black;
border-bottom: 1px solid black;
 
}
.td-text{
  font-size: 11px;
  font-weight: 500;
  text-align: center;
}




.list-item{

  width: 100%;
  
}
.list-item-list{
  display: flex;
  justify-content: center;
}
.update-section{
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;

}
.customerList-section{
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;

  

}
.customerList{
  width: 97%;
  background-color: rgb(250, 251, 254);
  padding: 10px 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.cList{
  display: flex;
  justify-content: center;

}
.view{
  font-size: 13px !important;
  margin-top: 1px;
  color: #000000;
}
.del{
  font-size: 12px !important;
  margin-top: 1px;
  color: rgb(155, 75, 0);
}
.icons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer-entry{
  display: flex;
  justify-content: center;
}
.Clist-head{
padding: 5px 0px;
border: 1px solid black;
}
#Clist1{
  width: 11%;
}
#Clist2{
  width: 55%;
  border-right: none;
  border-left: none;
 
}
#Clist3{
  width: 16%;
   border-right: none;
  
}
#Clist4{
  width: 15%;
  
}

.td-1{
  width: 11%;
  padding: 5px 0px;
  border-top: none;
border-right: 1px solid black;
border-left: 1px solid black;
border-bottom: 1px solid black;

  
}
.td-2{
  width: 57%;

  border-top: none;
  padding: 5px 0px;
  
  border-bottom: 1px solid black;
 
}
.td-3{
  width: 16%;
  border-right: none;
  border-top: none;
  border-left: 1px solid black;
  padding: 5px 0px;
  border-bottom: 1px solid black;

}
.td-4{
  width: 15%;
  padding: 5px 0px;
  border-top: none;
  border-right: 1px solid black;
border-left: 1px solid black;
border-bottom: 1px solid black;
 
}
.c-title{
font-size: 12px;
font-weight: 600;
text-align: center;
}
.entry-title{
  font-size: 11px;
  font-weight: 600;
  text-align: center;
}

/* ==============PDF Section ========== */
.pdf-section{
  width: 95%;
  margin: 15px auto;
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  height: 90vh;
  display: flex;
  flex-direction: column;

}
.pdf-header{
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
.l-img{
  height: 35px !important;
  width: auto !important;
  padding: 7px 7px;
  border-radius: 5%;
}
.invoice-div{
  padding: 7px 7px;
}
.invoice-div p{
  margin: 0;
}
.invoice-title{
  color: rgb(14, 19, 116);
  font-size: 15px;
  text-align: right;
  font-weight: 700;
}
.invoice-no{
  color: black;
  text-align: right;
  font-size: 11px;
  font-weight: 500;
  font-family: "Kanit", sans-serif;
  letter-spacing: 0.6px;
  line-height: 12px;
}
.line{
  height: 10px;
  width: 100%;
  background-color: #00142f;
}
.list-info{
  display: flex;
  justify-content: space-between;
}
.info-box{
  padding: 2px 10px 2px 10px;
}
.details-text{
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  color: #001a3f;
  
}
.normal-text{
  font-weight: 600;
  font-size: 9px;
  padding: 2.5px 0px;
  text-transform: uppercase;
  
}
.details-text1{
  color: #001a3f;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
}
.normal-text1{
  font-weight: 600;
  text-align: right;
  font-size: 9px;
  padding: 2.5px 0px;
  text-transform: uppercase;
}
.text-box{
  padding: 5px 0px;
}

.line2{
 
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(3, 37, 50);
}
.line2-l{
  margin-left: 10px;
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  color: white;
}
.line2-r{
  margin-right: 10px;
  text-align: right;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
.pdf-main-section{
  width: 100%;
}
.main-list{
  margin: 10px 0px;
  width: 100%;
  
}
.mainlist-row{
  
  display: flex;
 width: 96%;
 padding: 3px 4px;
 margin: 0px auto;
  background-color: rgb(246, 148, 148);
}
.main-list-data{
  display: flex;
 width: 96%;
 margin-bottom: 10px !important;
 padding: 3px 4px;
 flex-wrap: wrap;
 margin: 0px auto;
 flex-direction: row;
}
.data-row{
  display: flex;
  width: 100%;
  padding: 4px 0px;
  border-bottom: 1px solid grey;
}
.lh-title{
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
 padding-left: 8px;
}
.lh-title2{
  font-size: 8px;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 10px;
  text-align: left;
}

.lh1{
  width: 14%;
}
.lh2{
  width: 58%;
}
.lh3{
  width: 20%;
}
.lh4{
  width: 16%;
}

.llist1{
  width: 14%;
}
.llist2{
  width: 58%;
}
.llist3{
  width: 20%;
}
.llist4{
  width: 16%;
}
.line3{
margin-top: auto;
}
.line3 >div{
  width: 100%;
  height: 10px;
  background-color: #000000;
}
.line4{
  width: 96%;
  margin: 5px auto;
}



/* ======================== Product List page  */

.productList-page{
  width: 100%;
  margin: 15px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.productList-page1{
  width: 93%;
  
  margin: 15px auto;
  padding: 10px 3px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}



.products-list-heading{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: ##010130;
 
}
.ih-title{
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: whitesmoke;
  padding: 5px 0px 5px 15px;
  text-align: left;
}
.no-product{
  padding: 5px 0px ;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(111, 6, 6);
}
.ih1{
  width: 15%;
}
.ih2{
  width: 65%;
}
.ih3{
  width: 20%;
}
.products-list-data{
  width: 100%;
  display: flex;
  flex-direction: column;
 
  border-bottom: 1px solid black;
}
.data-cell{
  display: flex;
  border-bottom: 1px solid black;
}
.ih-title1{
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 0px 5px 20px;
  text-align: left;
  
}
.ihd1{
  width: 15%;
}
.ihd2{
  width: 65%;
}
.ihd3{
  width: 20%;
}
.ihd3 > div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.del1{
  font-size: 12px !important;
  margin-top: 5px;
  color: rgb(155, 75, 0);
  text-align: center;
}
.normal-heading{
  font-size: 11px;
  font-weight: 600;
  padding: 6px 2px;
  color: green;
  text-transform:capitalize;
}
